.DS_Store

# Build output
*.o
*.a
*.obj
*.lib
*.exe
*.pdb
*.ilk
*.dll
.depend

DRIVE/drive
DRIVE/drive_server
DRIVE/Makefile
DRIVE/*/Makefile
DRIVE/*/*/Makefile
DRIVE/config.cache
DRIVE/config.log
DRIVE/config.status
DRIVE/misc/drive2pdf
DRIVE/.server_config

HW/Objs/
HW/Objs_d/
HW/*/Objs/
HW/*/Objs_d/
HW/Test/Objs

LIBPNG/OBJ/
LIBPNG/OBJ32/

JPEG/Makefile
JPEG/jconfig.h
JPEG/config.log
JPEG/config.status

# headless.sh output
CAPTURE.png
